.main-component-left-nav {
  background: #4a5ed6eb;
  height: 100%;
  min-height: 100vh;
  padding: 10px;
}

.main-component-left-nav .params,
.main-component-left-nav .v-list.v-sheet {
  padding: 10px 0 10px 10px;
}

.v-content .v-content__wrap .container .col:first-child {
  padding: 10px !important;
}

body .main-component-left-nav .mdi-menu-down::before,
body .main-component-left-nav .v-label {
  color: #fff !important;
  caret-color: #fff !important;
}

body
  .main-component-left-nav
  .theme--light.v-select
  .v-select__selection--comma,
body
  .main-component-left-nav
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset,
body .main-component-left-nav .theme--light.v-label {
  color: #ffffff;
}

.main-component-left-nav .v-list-item .v-list-item__title,
.main-component-left-nav .v-list-item .v-list-item__subtitle {
  color: #000;
}

.main-component-left-nav .v-text-field--outlined.v-input--is-focused fieldset,
.main-component-left-nav .v-text-field--outlined.v-input--has-state fieldset {
  border: 2px solid #fff;
}

.main-component-left-nav
  .v-text-field--outlined.v-input--is-focused
  fieldset
  legend
  span,
.main-component-left-nav
  .v-text-field--outlined.v-input--has-state
  fieldset
  legend
  span {
  color: #fff;
}

.main-component-left-nav .v-list.v-sheet .v-list-item__title {
  color: #ffffff;
}

.main-component-left-nav .theme--light.v-list {
  background: none;
}

.main-component-left-nav
  .v-list.v-sheet
  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  box-shadow: 0px 0px 0px 1px #ffffff !important;
  border-radius: 4px;
  min-height: 56px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.main-component-left-nav
  .v-list.v-sheet
  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled):hover {
  box-shadow: none !important;
}

.main-component-left-nav
  .v-list.v-sheet
  .theme--light.v-list-item:hover::before {
  opacity: 1;
  background: #3f50b5;
  border-radius: 4px;
}

.main-component-left-nav
  .v-list.v-sheet
  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled):hover
  .v-list-item__content {
  z-index: 4;
}

@media (max-width: 960px) {
  .main-component-left-nav {
    height: auto;
  }
  .main-component-left-nav .params,
  .main-component-left-nav .v-list.v-sheet {
    padding: 10px;
  }

  .container.fill-height > .row {
    margin-right: 0;
    margin-left: 0;
  }

  .v-content .v-content__wrap .container .col:first-child {
    flex: 1;
    max-width: 100%;
  }
}

@media (min-width: 961px) {
  .v-content .v-content__wrap .container {
    padding: 0;
  }

  .v-content .v-content__wrap .container .col:first-child {
    padding: 0 10px 0 0 !important;
  }
}
