form {
  img {
    max-height: 195px;
    width: auto;
    object-fit: contain;
  }
}

input.address-search {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 0 8px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  border-bottom: 1px solid;
}

input.form-control {
  padding: 5px;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  height: 40px;
}

html {
  overflow: hidden !important;
}

.v-content .v-content__wrap .container .row .col.scroll-element {
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden;
  align-items: flex-start;
  @media (max-width: 960px) {
    max-width: 100%;
    width: 100%;
    flex: 1;
    padding-bottom: 13% !important;
  }
  form {
    padding-bottom: 10%;
  }
}

.v-content
  .v-content__wrap
  .container
  .row
  .col.scroll-element.maxWidthElement {
  max-width: 100%;
  flex: 1;
}

@media (max-width: 960px) {
  body .v-application .pl-10 {
    padding-left: 0 !important;
  }
}

input#map {
  width: 100%;
}

h2.map-title {
  color: rgba(0, 0, 0, 0.6);
  height: 20px;
  font-weight: normal;
  line-height: 20px;
  font-size: 13px;
}
