form {
  img {
    max-height: 195px;
    width: auto;
    object-fit: contain;
  }
}

input.address-search {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 0 8px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  border-bottom: 1px solid;
}